__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.DS_Store
**/.DS_Store
.ipynb_checkpoints/
.vscode/

src/complex_maze.ipynb
src/occupancy_map.ipynb

gym-env/build/
gym-env/dist/
gym-env/gym_env.egg-info/

figures/